/*
* Main styles
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.page {
  padding-top: 64px;
}


/*
* Helpers
*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.mt-20 {
  margin-top: 20px;
}

.padding-md {
  padding-top: 50px;
  padding-bottom: 50px;
}

.full-height-centered {
  min-height: calc(100vh - 64px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*
* Logo
*/

.logo {
  font-size: 80px !important;
  color: #1976d2;
}


.MuiIconButton-root {
  margin-right: 0 !important;
}

.MuiPagination-ul {
  justify-content: center;
}


.MuiSkeleton-root {
  transform: none !important;
}

.MuiCard-root {
  width: 100%;
}

.card-skeleton {
  min-width: 300px;
}